USE [master]
GO
/****** Object:  Database [band_tracker_test]    Script Date: 6/16/2017 4:02:10 PM ******/
CREATE DATABASE [band_tracker_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'band_tracker', FILENAME = N'C:\Users\epicodus\band_tracker_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'band_tracker_log', FILENAME = N'C:\Users\epicodus\band_tracker_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [band_tracker_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [band_tracker_test]
GO
USE [band_tracker_test]
GO
/****** Object:  Table [dbo].[bands]    Script Date: 6/16/2017 4:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bands_concerts]    Script Date: 6/16/2017 4:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bands_concerts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bands_id] [int] NULL,
	[concerts_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[concerts]    Script Date: 6/16/2017 4:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[concerts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[showDate] [datetime] NULL,
	[venues_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[venues]    Script Date: 6/16/2017 4:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[venues_bands]    Script Date: 6/16/2017 4:02:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venues_bands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bands_id] [int] NULL,
	[venues_id] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[bands] ON 

INSERT [dbo].[bands] ([id], [name]) VALUES (1, N'Jack White')
INSERT [dbo].[bands] ([id], [name]) VALUES (2, N'Faith No More')
INSERT [dbo].[bands] ([id], [name]) VALUES (3, N'Beyonce')
SET IDENTITY_INSERT [dbo].[bands] OFF
SET IDENTITY_INSERT [dbo].[concerts] ON 

INSERT [dbo].[concerts] ([id], [showDate], [venues_id]) VALUES (1, CAST(N'2000-11-12T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[concerts] OFF
SET IDENTITY_INSERT [dbo].[venues] ON 

INSERT [dbo].[venues] ([id], [name]) VALUES (1, N'Roseland Theater')
INSERT [dbo].[venues] ([id], [name]) VALUES (2, N'Revolution Hall')
INSERT [dbo].[venues] ([id], [name]) VALUES (3, N'Dantes')
SET IDENTITY_INSERT [dbo].[venues] OFF
SET IDENTITY_INSERT [dbo].[venues_bands] ON 

INSERT [dbo].[venues_bands] ([id], [bands_id], [venues_id]) VALUES (1, 1, 1)
INSERT [dbo].[venues_bands] ([id], [bands_id], [venues_id]) VALUES (2, 1, 2)
INSERT [dbo].[venues_bands] ([id], [bands_id], [venues_id]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[venues_bands] OFF
USE [master]
GO
