
@{
  Layout="Shared/_Layout.cshtml";
}
<div class="about panel panel-default">
  <div class="panel-body">
    <h2>Add to the database!</h2>
    <p>Where have you seen your favorite band? Any upcoming concerts they're performaing at you'd like to share with like-minded fans? Add them to our database.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body index">
    <h4 class="indexPage"><a href="/venues">View Venues</a></h4>
    <h4 class="indexPage"><a href="/bands">View Bands</a></h4>
  </div>
</div>
