@{
  Layout="Shared/_Layout.cshtml";
}
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Edit venue: @Model.GetName()</h2>
    <form class="form-horizontal" action="/venue/edit/@Model.GetId()" method="post">


      <div class="form-group">
        <input type="hidden" name="_method" value="PATCH">
        <input name="venue-id" type="hidden" value="@Model.GetId()">
        <label class="col-md-4" for="venue-name">Venue name:</label>
        <div class="col-md-8">
        <input class="form-control" id="venue-name" name="venue-name" type="text">
        </div>
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</div>
